html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;

  overscroll-behavior-y: none;
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-color: var(--color-grey);
}

.is-device main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
}