@font-face {
  font-family: 'Saol Display';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('./assets/fonts/SaolDisplay-Regular.woff2') format('woff2'),
    url('./assets/fonts/SaolDisplay-Regular.woff') format('woff');
}